.header{
    display: flex;
    justify-content: space-between;
}

.logo{
    width: 10rem;
    height: 3rem;
}

.header-manu{
    list-style: none;
    display: flex;
    color: white;
    gap: 2rem;
    
}

.header-manu>li:hover{
    cursor: pointer;
    color: orange;
}